[submodule "vaultwares-agentciation"]
	path = vaultwares_agentciation
	url = https://github.com/p-potvin/vaultwares-agentciation.git
[submodule "vaultwares_agentciation"]
	path = vaultwares_agentciation
	url = https://github.com/p-potvin/vaultwares-agentciation
